In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sb
import json
import os

In [10]:
path = 'C:/Users/Moise/Documents/Data visualization/My time on earth/Data/takeout-20210901T164843Z-001/Takeout/Location History/Location History.json'
with open(path) as json_file:
    data = json.load(json_file)
    df = pd.DataFrame(data["locations" ])

In [11]:
df = df.rename(columns={'latitudeE7' : 'latitude','longitudeE7': 'longitude'})

In [12]:
df["latitude"] = df["latitude"] / 10000000
df["longitude"] = df["longitude"] / 10000000
df['time'] = pd.to_datetime(df["timestampMs"], unit = "ms" )

In [13]:
df3 = df[['latitude','longitude','time']]

In [14]:
def get_month(df): 
    return df.month

In [15]:
df3['time'] = df3['time'].map(pd.to_datetime)

<ipython-input-15-271ff2ec58c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['time'] = df3['time'].map(pd.to_datetime)

In [16]:
df3['month'] = df3['time'].map(get_month)

<ipython-input-16-1e8ec338fc8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['month'] = df3['time'].map(get_month)

In [17]:
df3.head()

    latitude  longitude                time  month
0  47.471028  -0.553933 2017-10-14 09:34:24     10
1  47.471037  -0.553923 2017-10-14 09:34:39     10
2  47.471037  -0.553923 2017-10-14 09:34:55     10
3  47.471037  -0.553923 2017-10-14 09:35:11     10
4  47.470844  -0.553969 2017-10-14 09:35:27     10

In [18]:
def get_dom(dt):
    return dt.day

In [19]:
df3['day'] = df3['time'].map(get_dom)

<ipython-input-19-9b31eac31d19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['day'] = df3['time'].map(get_dom)

In [20]:
def get_year(dt):
    return dt.year

In [21]:
df3['year'] = df3['time'].map(get_year)

<ipython-input-21-7321668a78f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['year'] = df3['time'].map(get_year)

In [22]:
l = []
for a, b in zip(df3['latitude'], df3['longitude']):
    l.append((a,b))

In [23]:
df3['position'] = l

<ipython-input-23-dc5e5d013b8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['position'] = l

In [24]:
df3.head()

,latitude,longitude,time,month,day,year,position
0,47.471028,-0.553933,2017-10-14 09:34:24,10,14,2017,"(47.4710277, -0.5539328)"
1,47.471037,-0.553923,2017-10-14 09:34:39,10,14,2017,"(47.4710367, -0.5539233)"
2,47.471037,-0.553923,2017-10-14 09:34:55,10,14,2017,"(47.4710367, -0.5539233)"
3,47.471037,-0.553923,2017-10-14 09:35:11,10,14,2017,"(47.4710367, -0.5539233)"
4,47.470844,-0.553969,2017-10-14 09:35:27,10,14,2017,"(47.4708436, -0.5539688)"

In [25]:
def set_seconds(dt):
    return(dt.replace(second=0, microsecond = 0))

In [26]:
df3['time'] = df3['time'].map(set_seconds)

<ipython-input-26-ee267bd1814a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['time'] = df3['time'].map(set_seconds)

In [27]:
def get_hour(dt):
    return dt.hour

In [28]:
df3['hour'] = df3['time'].map(get_hour)

In [29]:
df3['time'] = df3['time'].map(pd.to_datetime)

In [30]:
df3.head()

,latitude,longitude,time,month,day,year,position,hour
0,47.471028,-0.553933,2017-10-14 09:34:00,10,14,2017,"(47.4710277, -0.5539328)",9
1,47.471037,-0.553923,2017-10-14 09:34:00,10,14,2017,"(47.4710367, -0.5539233)",9
2,47.471037,-0.553923,2017-10-14 09:34:00,10,14,2017,"(47.4710367, -0.5539233)",9
3,47.471037,-0.553923,2017-10-14 09:35:00,10,14,2017,"(47.4710367, -0.5539233)",9
4,47.470844,-0.553969,2017-10-14 09:35:00,10,14,2017,"(47.4708436, -0.5539688)",9

In [31]:
df3[["latitude", "longitude", "time",'year', 'month','day','hour']].to_csv(r'C:/Users/Moise/Documents/Data visualization/My time on earth/Data/map_data.csv', index = False)
#df[["latitude", "longitude", "ts"]].to_csv("clean_data.csv", index=False)