In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sb
import json
import os

In [3]:
path = r'/My time on earth/Data/takeout-20210901T164843Z-001/Takeout/Location History/Location History.json'
with open(path) as json_file:
    data = json.load(json_file)
    df = pd.DataFrame(data["locations" ])
'''
path2 = r'C:/Users/Moise/Documents/Data visualization/takeout-20210901T164843Z-001/Takeout/Location History/Semantic Location History/2017/2017_DECEMBER.json'
with open(path2) as json_file:
    data = json.load(json_file)
    df2 = pd.DataFrame(data["activitySegment" ])  '''

FileNotFoundError: [Errno 2] No such file or directory: 'My time on earth/Data/takeout-20210901T164843Z-001/Takeout/Location History/Location History.json'

In [3]:
df = df.rename(columns={'latitudeE7' : 'latitude','longitudeE7': 'longitude'})

In [4]:
df["latitude"] = df["latitude"] / 10000000
df["longitude"] = df["longitude"] / 10000000
df['time'] = pd.to_datetime(df["timestampMs"], unit = "ms" )

In [5]:
df.head()

,timestampMs,latitude,longitude,accuracy,source,deviceTag,activity,time
0,1507973664000,47.471028,-0.553933,8,GPS,-1897172225,NaN,2017-10-14 09:34:24
1,1507973679000,47.471037,-0.553923,12,GPS,-1897172225,NaN,2017-10-14 09:34:39
2,1507973695000,47.471037,-0.553923,16,GPS,-1897172225,NaN,2017-10-14 09:34:55
3,1507973711000,47.471037,-0.553923,8,GPS,-1897172225,NaN,2017-10-14 09:35:11
4,1507973727000,47.470844,-0.553969,16,GPS,-1897172225,NaN,2017-10-14 09:35:27

In [6]:
df3 = df[['latitude','longitude','time']]

In [7]:
def get_month(df): 
    return df.month

In [8]:
df3['time'].map(pd.to_datetime)

0       2017-10-14 09:34:24.000
1       2017-10-14 09:34:39.000
2       2017-10-14 09:34:55.000
3       2017-10-14 09:35:11.000
4       2017-10-14 09:35:27.000
                  ...
89120   2018-05-04 15:35:28.175
89121   2018-05-04 15:36:28.901
89122   2018-05-04 15:38:30.037
89123   2018-05-04 15:39:30.229
89124   2018-05-04 16:25:25.408
Name: time, Length: 89125, dtype: datetime64[ns]

In [9]:
df3['month'] = df3['time'].map(get_month)

<ipython-input-9-1e8ec338fc8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['month'] = df3['time'].map(get_month)

In [10]:
df3.head()

    latitude  longitude                time  month
0  47.471028  -0.553933 2017-10-14 09:34:24     10
1  47.471037  -0.553923 2017-10-14 09:34:39     10
2  47.471037  -0.553923 2017-10-14 09:34:55     10
3  47.471037  -0.553923 2017-10-14 09:35:11     10
4  47.470844  -0.553969 2017-10-14 09:35:27     10

In [11]:
def get_dom(dt):
    return dt.day

In [12]:
df3['day'] = df3['time'].map(get_dom)

<ipython-input-12-9b31eac31d19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['day'] = df3['time'].map(get_dom)

In [13]:
def get_year(dt):
    return dt.year

In [14]:
df3['year'] = df3['time'].map(get_year)

<ipython-input-14-7321668a78f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['year'] = df3['time'].map(get_year)

In [15]:
l = []
for a, b in zip(df3['latitude'], df3['longitude']):
    l.append((a,b))

In [16]:
df3['position'] = l

<ipython-input-16-dc5e5d013b8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['position'] = l

In [17]:
df3.head()

,latitude,longitude,time,month,day,year,position
0,47.471028,-0.553933,2017-10-14 09:34:24,10,14,2017,"(47.4710277, -0.5539328)"
1,47.471037,-0.553923,2017-10-14 09:34:39,10,14,2017,"(47.4710367, -0.5539233)"
2,47.471037,-0.553923,2017-10-14 09:34:55,10,14,2017,"(47.4710367, -0.5539233)"
3,47.471037,-0.553923,2017-10-14 09:35:11,10,14,2017,"(47.4710367, -0.5539233)"
4,47.470844,-0.553969,2017-10-14 09:35:27,10,14,2017,"(47.4708436, -0.5539688)"

In [18]:
def set_seconds(dt):
    return(dt.replace(second=0, microsecond = 0))

In [19]:
df3['time'] = df3['time'].map(set_seconds)

<ipython-input-19-ee267bd1814a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['time'] = df3['time'].map(set_seconds)

In [22]:
def get_hour(dt):
    return dt.hour

In [23]:
df3['hour'] = df3['time'].map(get_hour)

In [32]:
df3['time'] = df3['time'].map(pd.to_datetime)

In [33]:
df3.head()

,latitude,longitude,time,month,day,year,position,hour
0,47.471028,-0.553933,2017-10-14 09:34:00,10,14,2017,"(47.4710277, -0.5539328)",9
1,47.471037,-0.553923,2017-10-14 09:34:00,10,14,2017,"(47.4710367, -0.5539233)",9
2,47.471037,-0.553923,2017-10-14 09:34:00,10,14,2017,"(47.4710367, -0.5539233)",9
3,47.471037,-0.553923,2017-10-14 09:35:00,10,14,2017,"(47.4710367, -0.5539233)",9
4,47.470844,-0.553969,2017-10-14 09:35:00,10,14,2017,"(47.4708436, -0.5539688)",9

In [26]:
df3[["latitude", "longitude", "time",'year', 'month','day','hour']].to_csv(r'C:/Users/Moise/Documents/Data visualization/Project/map_data2.csv', index = False)
#df[["latitude", "longitude", "ts"]].to_csv("clean_data.csv", index=False)

In [20]:
df3['month'][0]

10

In [34]:
type(df3['time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
type(df3['position'][0])

tuple

In [37]:
df3.head()

,latitude,longitude,time,month,day,year,position,t,hour
0,47.471028,-0.553933,2017-10-14 09:34:24,10,14,2017,"(47.4710277, -0.5539328)",<built-in method time of Timestamp object at 0...,9
1,47.471037,-0.553923,2017-10-14 09:34:39,10,14,2017,"(47.4710367, -0.5539233)",<built-in method time of Timestamp object at 0...,9
2,47.471037,-0.553923,2017-10-14 09:34:55,10,14,2017,"(47.4710367, -0.5539233)",<built-in method time of Timestamp object at 0...,9
3,47.471037,-0.553923,2017-10-14 09:35:11,10,14,2017,"(47.4710367, -0.5539233)",<built-in method time of Timestamp object at 0...,9
4,47.470844,-0.553969,2017-10-14 09:35:27,10,14,2017,"(47.4708436, -0.5539688)",<built-in method time of Timestamp object at 0...,9

In [39]:
 map = pd.DataFrame(
            np.array([[1,2]]),
            columns=['lat', 'lon'])

In [40]:
map

   lat  lon
0    1    2